* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #1a1a2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#unity-container {
  position: relative;
}

#unity-container.unity-desktop {
  width: 100%;
  height: 100%;
}

#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}

#unity-canvas {
  background: #1a1a2e;
}

#unity-canvas.unity-mobile {
  width: 100%;
  height: 100%;
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#unity-logo {
  width: 154px;
  height: 130px;
  background: url('unity-logo-dark.png') no-repeat center;
  margin: 0 auto 20px;
}

#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin: 10px auto;
  background: url('progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  background: url('progress-bar-full-dark.png') no-repeat center;
}

#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: #ffcc00;
  padding: 10px;
  display: none;
  border-radius: 5px;
}
